<html>
<head>
	<link rel="stylesheet" type="text/css" href="../templates/style.css">
	<title> Annotées des commentaires </title>
</head>
<body>
<h1 al> Commentaire négatifs ou positif </h1>

<p> Le but de cette application est de dire si un commentaire est positif ou négatif sur le site {{client}} </p>


<form action="positif" method="post" enctype="multipart/form-data">s
    <div>
        <label for="msg">Image</label>
         <input type="file" id="file" name="myFile"/>
    </div>

<div class="button">
        <input type="submit" value="Valider"/>
    </div>
</form>
</body>
</html>