<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>bien inserer</title>
    <style type="text/css">
		body {
			background-color: #d9d9d9;
			max-width: 100%;
			margin: auto;
			} </style>
</head>
<body>
<p> les modifications ont bien été prises en compte pour un nouveau modèle</p>
</body>
</html>